Bug: OIDC discovery metadata missing code_challenge_methods_supported breaks S256 PKCE validation (RFC 7636)

### Actual behavior

OidcAuth by [certmichelin/OpenID-Connect-PHP](https://github.com/certmichelin/OpenID-Connect-PHP) (as used by the docker images) does not follow RFC 7636 5. _Compatibility_ and [hard fails](https://github.com/certmichelin/OpenID-Connect-PHP/blob/ed88480ff0d9215d66cedb440adf904fba51d34f/src/OpenIDConnectClient.php#L857) when `code_challenge_methods_supported` does not have the specified `codeChallengeMethod` (`OIDC_CODE_CHALLENGE_METHOD`)

Not all IdP's publish `code_challenge_methods_supported` metadata but still support code challenge methods.

RFC 7636 Section 5
> ...
> As the OAuth 2.0 [[RFC6749](https://datatracker.ietf.org/doc/html/rfc6749)] server responses are unchanged by this
> specification, client implementations of this specification do not
> need to know if the server has implemented this specification or not
> and SHOULD send the additional parameters as defined in [Section 4](https://datatracker.ietf.org/doc/html/rfc7636#section-4) to
> all servers.

### Expected behavior

Not to hard fail (throw exception) when `OIDC_CODE_CHALLENGE_METHOD` is specified and IdP's `code_challenge_methods_supported` OIDC metadata is not published.

### Steps to reproduce

Using Docker image for `misp-core`, configure `OIDC_*` authentication and specify `OIDC_CODE_CHALLENGE_METHOD=S256` against an OIDC IdP that does not publish `code_challenge_methods_supported` metadata (e.g., Azure)

### Version

2.5.32

### Operating System

Docker

### Operating System version

N/A

### PHP version

20240924

### Browser

_No response_

### Browser version

_No response_

### Relevant log output

```shell
Error: [CertMichelin\OpenIDConnectClientException] Unsupported code challenge method S256 by IdP. Supported methods:
Request URL: /users/login?OidcAuth=enable
User SYSTEM (User #SYSTEM) @ SYSTEM
Error in: /var/www/MISP/app/Vendor/certmichelin/openid-connect-php/src/OpenIDConnectClient.php, Line: 858
Stack Trace:
#0 /var/www/MISP/app/Vendor/certmichelin/openid-connect-php/src/OpenIDConnectClient.php(562): CertMichelin\OpenIDConnectClient->requestAuthorization()
#1 /var/www/MISP/app/Plugin/OidcAuth/Lib/Oidc.php(24): CertMichelin\OpenIDConnectClient->authenticate()
#2 /var/www/MISP/app/Plugin/OidcAuth/Controller/Component/Auth/OidcAuthenticate.php(61): Oidc->authenticate()
#3 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/AuthComponent.php(772): OidcAuthenticate->authenticate()
#4 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/AuthComponent.php(612): AuthComponent->identify()
#5 /var/www/MISP/app/Controller/UsersController.php(1260): AuthComponent->login()
#6 [internal function]: UsersController->login()
#7 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Controller.php(500): ReflectionMethod->invokeArgs()
#8 /var/www/MISP/app/Lib/cakephp/lib/Cake/Routing/Dispatcher.php(193): Controller->invokeAction()
#9 /var/www/MISP/app/Lib/cakephp/lib/Cake/Routing/Dispatcher.php(167): Dispatcher->_invoke()
#10 /var/www/MISP/app/webroot/index.php(107): Dispatcher->dispatch()
#11 {main}
```

### Extra attachments

_No response_

### Code of Conduct

- [x] I agree to follow this project's Code of Conduct

Seems to impact jakub-onderka/openid-connect-php (as used by the docker images) as well:
```
Error: [JakubOnderka\OpenIDConnectClientException] Unsupported code challenge method S256 by IdP. Supported methods:
Request URL: /users/login?OidcAuth=enable
User SYSTEM (User #SYSTEM) @ SYSTEM
Error in: /var/www/MISP/app/Vendor/jakub-onderka/openid-connect-php/src/OpenIDConnectClient.php, Line: 853
Stack Trace:
#0 /var/www/MISP/app/Vendor/jakub-onderka/openid-connect-php/src/OpenIDConnectClient.php(557): JakubOnderka\OpenIDConnectClient->requestAuthorization()
#1 /var/www/MISP/app/Plugin/OidcAuth/Lib/Oidc.php(24): JakubOnderka\OpenIDConnectClient->authenticate()
#2 /var/www/MISP/app/Plugin/OidcAuth/Controller/Component/Auth/OidcAuthenticate.php(61): Oidc->authenticate()
#3 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/AuthComponent.php(772): OidcAuthenticate->authenticate()
#4 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Component/AuthComponent.php(612): AuthComponent->identify()
#5 /var/www/MISP/app/Controller/UsersController.php(1260): AuthComponent->login()
#6 [internal function]: UsersController->login()
#7 /var/www/MISP/app/Lib/cakephp/lib/Cake/Controller/Controller.php(500): ReflectionMethod->invokeArgs()
#8 /var/www/MISP/app/Lib/cakephp/lib/Cake/Routing/Dispatcher.php(193): Controller->invokeAction()
#9 /var/www/MISP/app/Lib/cakephp/lib/Cake/Routing/Dispatcher.php(167): Dispatcher->_invoke()
#10 /var/www/MISP/app/webroot/index.php(107): Dispatcher->dispatch()
#11 {main}
```

I should also note, commenting out the check (and thus preventing the exception being thrown) allows OIDC to continue successfully for IdP's that don't publish `code_challenge_methods_supported` metadata but still support the chosen challenge method.